.newsListBox .item {
  border-top: #dddddd 1px solid;
}
.newsListBox .item:last-child {
  border-top: #dddddd 1px solid;
  border-bottom: #dddddd 1px solid;
}
.newsListBox .item a {
  display: flex;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .newsListBox .item a {
    flex-direction: column;
  }
}
.newsListBox .item a:hover .infoBox {
  padding: 50px 240px 14px 40px;
  border-left: 6px solid #a59768;
}
@media screen and (max-width: 1600px) {
.newsListBox .item a:hover .infoBox {
  padding: 30px 180px 14px 30px;
}
}
@media screen and (max-width: 1000px) {
  .newsListBox .item a:hover .infoBox {
    padding: 20px 30px 14px 30px;
  }
}
@media screen and (max-width: 767px) {
  .newsListBox .item a:hover .infoBox {
    padding: 0 20px 14px 20px;
  }
}
.newsListBox .item a:hover .pic img {
  transition: all 20s ease;
  transform: scale(1.2);
}
.newsListBox .item a:hover .more {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .newsListBox .item a:hover .more {
    height: 33px;
    width: 140px;
  }
}
.newsListBox .item a:hover .more::after {
  width: 100%;
  left: 0;
}
.newsListBox .item .pic {
  margin: 14px 0;
  width: 40%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .newsListBox .item .pic {
    width: 100%;
    order: -1;
  }
}
.newsListBox .item .infoBox {
  width: 60%;
  padding: 50px 340px 14px 0;
  border-left: 0px solid #a59768;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1600px) {
  .newsListBox .item .infoBox {
  padding: 30px 200px 14px 0;
  }
}
@media screen and (max-width: 1000px) {
  .newsListBox .item .infoBox {
    width: 100%;
    padding: 20px 30px 14px 0;
  }
}
@media screen and (max-width: 767px) {
  .newsListBox .item .infoBox {
    padding: 0 20px 14px 0;
  }
}
.newsListBox .item .infoBox .top {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
}
.newsListBox .item .infoBox time {
  font-size: 0.8125rem;
  display: block;
}
.newsListBox .item .infoBox .tag {
  font-size: 0.9375rem;
  color: #a59768;
}
.newsListBox .item .infoBox .tag::before {
  content: "-";
  margin: 0 15px;
}
.newsListBox .item .infoBox .info {
  width: 100%;
}
.newsListBox .item .infoBox .title {
  font-size: 1.5rem;
  margin: 0 0 30px;
  letter-spacing: 2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1000px) {
  .newsListBox .item .infoBox .title {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 767px) {
  .newsListBox .item .infoBox .title {
    font-size: 1.25rem;
  }
}
.newsListBox .item .infoBox .description {
  max-width: 500px;
  color: #333333;
  font-weight: 200;
  letter-spacing: 1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1000px) {
  .newsListBox .item .infoBox .description {
    margin: 0 0 30px;
  }
}
.newsListBox .item .infoBox .more {
  color: #a59768;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  border: 1px solid #a59768;
  height: 45px;
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1600px) {
  .newsListBox .item .infoBox .more {
  width: 100px;
  height: 45px;
  font-size: 0.6rem;
  }
}
@media screen and (max-width: 1000px) {
  .newsListBox .item .infoBox .more {
    position: relative;
    right: auto;
    top: auto;
    transform: translateY(0);
  }
}
.newsListBox .item .infoBox .more::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: #a59768;
  z-index: -1;
  transition: all 0.3s ease;
}

.newsDetailBox .pageContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newsDetailBox .share {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  position: sticky;
  top: 40%;
  padding-left: 10px;
}
/*@media screen and (max-width: 1000px) {*/
/*  .newsDetailBox .share {*/
/*    flex-wrap: wrap;*/
/*  }*/
/*}*/
.newsDetailBox .pageBtnBox {
    width:auto;
}
@media screen and (max-width: 1000px) {
  .newsDetailBox .share {
    margin: 40px 0 0;
    position: relative;
    top: auto;
    order: 3;
  }
}
.newsDetailBox .share::before {
  content: "SHARE TO";
  text-align: right;
  width: 100px;
  padding: 0 0 10px;
  margin: 0 10px 0 0;
  color: #c7bea1;
  border-bottom: #c7bea1 1px solid;
}

@media screen and (max-width: 1680px) {
  .newsDetailBox .share::before {
    width: 100%;
    padding: 0 0 5px;
    margin: 0 0 5px;
  }
}
@media screen and (max-width: 1680px) {
  .newsDetailBox .share::before {
    width: auto;
    padding: 0 0 10px;
    margin: 0 10px 0 0;
  }
}
.newsDetailBox .share .line,
.newsDetailBox .share .fb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  aspect-ratio: 1;
  background: #c7bea1;
}
@media screen and (max-width: 1000px) {
  .newsDetailBox .share .line,
  .newsDetailBox .share .fb {
    margin: 0;
  }
}
.newsDetailBox .share .line::before,
.newsDetailBox .share .fb::before {
  content: "";
  width: 20px;
  aspect-ratio: 1;
  background: #fff;
  -webkit-mask-image: url("../images/icon/icon_line.svg");
          mask-image: url("../images/icon/icon_line.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}
.newsDetailBox .share .fb {
  margin: 0 10px 0 0;
}
@media screen and (max-width: 1000px) {
  .newsDetailBox .share .fb {
    margin: 0 5px 0 0;
  }
}
.newsDetailBox .share .fb::before {
  -webkit-mask-image: url("../images/icon/icon_facebook.svg");
          mask-image: url("../images/icon/icon_facebook.svg");
}

.newsDetail {
  width: calc(100% - 200px);
  max-width: 1165px;
}
@media screen and (max-width: 1000px) {
    .newsDetail {
      width: 100%;
      max-width: 1165px;
    }
}
.newsDetail time {
  font-size: 0.8125rem;
  display: block;
  margin: 0 0 10px;
}
.newsDetail .title {
  font-size: 2rem;
  margin: 0 0 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (max-width: 1000px) {
  .newsDetail .title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .newsDetail .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .newsDetail .title {
    font-size: 1.25rem;
  }
}
.newsDetail .description {
  color: #333333;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.8;
}/*# sourceMappingURL=news.css.map */